.idea/
app/assets/config/
app/assets/images/
app/assets/javascripts/application.js
app/assets/javascripts/books.coffee
app/assets/javascripts/cable.js
app/assets/javascripts/channels/
app/assets/javascripts/student.coffee
app/assets/stylesheets/application.css
app/assets/stylesheets/books.scss
app/assets/stylesheets/student.scss
app/channels/
app/controllers/application_controller.rb
app/controllers/books_controller.rb
app/controllers/concerns/
app/helpers/application_helper.rb
app/helpers/books_helper.rb
app/helpers/student_helper.rb
app/jobs/
app/mailers/
app/models/application_record.rb
app/models/concerns/
app/views/books/
app/views/layouts/
db/seeds.rb
public/
storage/
test/application_system_test_case.rb
test/controllers/.keep
test/controllers/books_controller_test.rb
test/controllers/student_controller_test.rb
test/fixtures/.keep
test/fixtures/files/
test/helpers/
test/integration/
test/mailers/
test/models/.keep
test/system/.keep
test/system/books_test.rb
test/test_helper.rb
tmp/
vendor/
